<p id="notice"><%= notice %></p>

<h1>Usstates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Hours</th>
      <th>Periodicity</th>
      <th>Conditions</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usstates.each do |usstate| %>
      <tr>
        <td><%= usstate.name %></td>
        <td><%= usstate.hours %></td>
        <td><%= usstate.periodicity %></td>
        <td><%= usstate.conditions %></td>
        <td><%= usstate.link %></td>
        <td><%= link_to 'Show', usstate %></td>
        <td><%= link_to 'Edit', edit_usstate_path(usstate) %></td>
        <td><%= link_to 'Destroy', usstate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usstate', new_usstate_path %>
