<p id="notice"><%= notice %></p>

<h1>Ceus</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Number</th>
      <th>Hours</th>
      <th>State</th>
      <th>Instructor name</th>
      <th>Provider name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ceus.each do |ceu| %>
      <tr>
        <td><%= ceu.title %></td>
        <td><%= ceu.number %></td>
        <td><%= ceu.hours %></td>
        <td><%= ceu.state %></td>
        <td><%= ceu.instructor_name %></td>
        <td><%= ceu.provider_name %></td>
        <td><%= link_to 'Show', ceu %></td>
        <td><%= link_to 'Edit', edit_ceu_path(ceu) %></td>
        <td><%= link_to 'Destroy', ceu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ceu', new_ceu_path %>
